<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/me.png">
</head>

<body>
    <div class="main-page">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>

</html>